workflow:
  rules:
    - changes:
        - "**/*.md"
        - ".gitignore"
        - "LICENSE"
      when: never
    - when: always

variables:
  # Эти переменные должны быть настроены в GitLab CI/CD Variables
  # YC_SA_KEY: JSON ключ сервисного аккаунта
  # YC_CLOUD_ID: ID облака
  # YC_FOLDER_ID: ID каталога
  # REGISTRY_ID: ID реестра
  # K8S_CLUSTER_ID: ID кластера
  # LOCKBOX_ID: ID секрета Lockbox
  # DOMAIN_NAME: Доменное имя
  # EXTERNAL_IP: Статический IP для Ingress
  
.service_trigger:
  rules:
    - changes:
        - "$SERVICE_PATH/**/*"
  trigger:
    include: "$SERVICE_PATH/.gitlab-ci.yml"
    strategy: depend

backend-service:
  extends: .service_trigger
  variables:
    SERVICE_PATH: "services/backend"
