services:
  backend:
    build:
      context: ./services/backend
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./services/backend:/app
    networks:
      - common-network
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - SECRET_KEY=secret-key

  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./services/frontend:/app
      - /app/node_modules
      - /app/.next
    networks:
      - common-network
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - WATCHPACK_POLLING=true
    depends_on:
      - backend

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    networks:
      - common-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8089:8080"
    networks:
      - common-network

networks:
  common-network:
    driver: bridge
