fastapi
uvicorn[standard]
gunicorn
sqlalchemy
asyncpg
alembic
pydantic-settings
python-dotenv
psycopg2-binary
pytest
httpx
python-jose[cryptography]
passlib[bcrypt,argon2]
argon2-cffi
python-multipart
email-validator