# Default values for fastapi-chart.
replicaCount: 2

image:
  repository: cr.yandex/<REGISTRY_ID>/fastapi-app
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ""
      hosts:
        - ""

externalIp: ""
domainName: "tryout.site"

postgresql:
  server: ""
  user: ""
  password: ""
  database: ""
  port: "5432"

fastapiKey: ""

logging:
  level: "INFO"
