# Default values for frontend-chart.
replicaCount: 1

image:
  repository: cr.yandex/<REGISTRY_ID>/frontend-app
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: "tryout.site"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: "tryout-site-tls"
      hosts:
        - "tryout.site"

externalIp: ""
domainName: "tryout.site"

backendUrl: "https://tryout.site/api"
